/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FBFBFB;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

strong, b {
  color: #424242;
}

table {
  font-size: inherit;
  font: 100%;
}

.container {
  padding-bottom: 2em;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
  padding: 7px 0px;
}

ul.posts li a {
  text-decoration: none;
  color: #0067C0;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  -webkit-transition: color 500ms ease;
  -moz-transition: color 500ms ease;
  -o-transition: color 500ms ease;
  transition: color 500ms ease;
}

ul.posts li a:hover {
  color: #FF4136;
}

ul.posts li span {
  float: right;
  font-size: 12px;
  color: #aaa;
  font-family: 'Ubuntu', sans-serif;
}

ul.posts .external-icon {
  background: url('icon_external.gif') no-repeat -1px -1px;
  width: 11px;
  height: 10px;
  margin-left: 6px;
  background-repeat: no-repeat;
  display: inline-block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.site .header h1.title {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  margin-bottom: 2em;
}

.site .header h1.title a {
  color: #636363;
  text-decoration: none;
}


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post-header {
  border-left: 0.5em solid #dfdfdf;
  padding-left: 1em;
  margin-bottom: 2em;
}

.post-header div {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
}

.post-header .meta {
  font-size: 13px;
  color: #aaa;
  margin-top: 0.5em;
}

.post {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  color: #424242;
}

.post p {
  margin: 1em 0em;
  text-align: justify;
}

.post h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.post a {
  text-decoration: none;
  color: #39CCCC;
}

.post a:hover {
  text-decoration: underline;
  color: #13c6d7;
}

.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  font-family: serif;
  letter-spacing: 1px;
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
  word-wrap: break-word;
}

.post blockquote {
  background-color: lightgrey;
  padding: 0.1em 1em;
}


/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

#comments-seperator {
  margin: 40px 0 20px 0;
}
