---
layout: default
comments: true
---
<div class="post-header">
    <div>{{ page.title }}</div>
    <p class="meta">{{ page.date | date_to_string }}</p>
</div>

<div class="post">
    {{ content }}

    <p>Also published on:</p>
    <ul>
        {% for link in page.external_review_links %}
        <li>
            <a href="{{ link }}">{{ link }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

<hr id="comments-seperator">

{% if page.comments %}
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'nitishsp';

    (function () {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>No JS, No comments!</noscript>
{% endif %}