---
layout: default
---
<div class="post-header">
  <div>{{ page.title }}</div>
  <p class="meta">{{ page.date | date_to_string }}</p>
</div>

<div class="post">
  {{ content }}

  {% if page.external_links %}
    {% if page.language == "Marathi" %}
      <p>इतरत्र प्रकाशित:</p>
    {% else %}
      <p>Also published on:</p>
    {% endif %}
    <ul>
      {% for link in page.external_links %}
      <li>
        <a href="{{ link }}">{{ link }}</a>
      </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>

<hr id="comments-seperator">

{% if page.comments %}
<div id="disqus_thread"></div>
<script>
  var disqus_config = function () {
    this.page.url = '{{ site.url }}{{ page.url }}';
    this.page.identifier = '{{ page.id }}';
  };

  (function () { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://nitishparkar.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
    Disqus.</a></noscript>
{% endif %}